.login-content{
  width 400px
  margin-right auto
  margin-left auto
  margin-top 60px
  border 1px solid #e3e3e3
  .title{
    text-align center
  }
  .header-content{
    padding 0 10px
    span{
      width 50%
      display inline-block
      box-sizing border-box
      text-align center
      padding 5px 0
      cursor pointer
    }
    .active-span{
      border-bottom 3px solid #fa7d3c
    }
  }
  .login-area{
    padding 0 10px
    .el-button{
      width 100%
    }
  }
  .regist-area{
    padding 0 10px
    .el-button{
      width 100%
    }
  }
}
