html,body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#app,.app-content,.page-area{
  height: 100%;
}
.page-area{
  overflow: auto;
}
#app{
  overflow: hidden;
}
.scollapse-transition{
  transition: all .3s ease-in-out
}
