.manage-wrapper{
  display -webkit-box;
  width 1280px
  margin-right auto
  margin-left auto
  margin-top 60px
}
.manage-content{
  -webkit-box-flex 1;
  padding 10px
}
.manage-nav{
  width 200px;
  border 1px solid #e3e3e3
  margin-left 60px
  margin-top 10px
  height 600px
  .el-menu-item{
    border-bottom 1px solid #e3e3e3
  }
}
