.apply-card {
  border: 1px solid #e3e3e3;
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
}
.apply-card li {
  list-style: none;
}
.apply-card .apply-detail {
  display: -webkit-box;
}
.apply-card .apply-detail div:first-child {
  -webkit-box-flex: 1;
}
.apply-card .apply-detail .apply-price {
  padding-right: 30px;
}
.apply-card .apply-step {
  margin: 10px 40px 0 40px;
}
