.apply-card{
  border 1px solid #e3e3e3;
  width 50%;
  box-sizing border-box;
  display inline-block;
  cursor pointer
  .apply-ul{
    padding 0 10px 10px 20px
    .activity-name{
      display inline-block
      max-width 320px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      font-weight bold
    }
    .activity-release-time{
      vertical-align top
      float right
    }
  }
  li{
    list-style none
  }
  .apply-detail{
    display -webkit-box
    div:first-child{
      -webkit-box-flex 1
    }
    .apply-price{
      padding-right 30px
    }
  }
  .apply-step{
    margin 10px 40px 0 40px
  }
}
