.jobs-content{
  transition all .5s ease
  // height 174px
  margin-top 5px
  border 1px solid #e3e3e3
  border-radius 5px
  padding 10px
  margin-bottom 5px
  overflow hidden
  .fa-pencil-square-o{
    color #fd7878
  }
  .fa-caret-down{
    float right
    cursor pointer
  }
  .job-ul{
    margin-top 7px
    margin-bottom 0
    li{
      list-style none
      span:first-child{
        width 64px
        display inline-block
        text-align-last justify
        padding-right 9px
        color #878a8e
      }
    }
    .remain-number{
      margin-left 70px
      color red
    }
    .job-require{
      padding-right 96px
    }
  }
  .apply-btn{
    position relative
    bottom 36px
    float right
    margin-bottom -36px
  }
  .fa-caret-down{
    transition all .5s ease
  }
}
.isHide{
  height 21px
  .fa-caret-down{
    transform rotate(90deg)
  }
}
/*.scollapse-transition{
  transition all 1s linear
}*/
