.activity-detail-content {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.activity-detail-content .title-content .title {
  text-align: center;
}
.activity-detail-content .title-content .company {
  text-align: center;
}
