.activity-detail-content{
  width 500px
  margin-left auto
  margin-right auto
  border 1px solid #e3e3e3
  padding 10px
  li{
    list-style none
  }
  .title-content{
    .title{
      text-align center
    }
    .company{
      text-align center
    }
  }
  .add-margin{
    margin-left 10px
  }
  .body-content{
    ul{
      padding 0
      li{
        .label{
          padding-right 15px
         }
      }
    }
  }
  .jobs-content{
    margin-top 5px
    border 1px solid #e3e3e3
    border-radius 5px
    padding 10px
    margin-bottom 5px
    .job-ul{
      margin-top 5px
      margin-bottom 0
      li{
        span:first-child{
          width 64px
          display inline-block
          text-align-last justify
          padding-right 9px
        }
      }
    }
  }
  .fa{
    width 16px
    text-align center
  }
}
