.activity-detail-content{
  width 500px
  margin-left auto
  margin-right auto
  border 1px solid #e3e3e3
  padding 10px
  li{
    list-style none
  }
  .title-content{
    .title{
      text-align center
      margin 5px 0
      font-size 19px
    }
    .release-time{
      text-align center
      font-size 14px
      margin 5px 0
      color #c8c8c8
    }
    .company{
      text-align center
    }
  }
  .body-content{
    .fa{
      color #fd7878
    }
    ul{
      padding 0
      li{
        line-height 30px
        .label{
          padding-right 15px
          color #878a8e
         }
      }
    }
    .detail-desc{
      margin-left 21px
      line-height 20px
    }
  }
  .contact-content{
    border 1px solid #e3e3e3
    border-radius 5px
    padding 10px
    .fa{
      color #fd7878
    }
    .phone-tips{
      color #fd7878
      margin-left 20px
    }
    .phone-num{
      margin-left 20px
    }
  }
  .add-margin{
    margin-left 10px
  }
  .fa{
    width 16px
    text-align center
  }
}
