.page-area{
  width 1290px
  margin-left auto
  margin-right auto
  .main-activity{
    ul{
      margin 0
      padding 0
      li{
        list-style none
        line-height 27px
      }
      .middle-content{
        display -webkit-box
        .left-content{
          -webkit-box-flex 1
          .activity-period{
            border 1px solid #d5d5d5
            border-radius 5px
            padding 1px 10px
            background-color #ececec
          }
          .activity-tags{
            margin 2px 0
            span{
              border 1px solid #d5d5d5
              border-radius 5px
              padding 1px 10px
              margin-right 5px
            }
          }
          .user-auth{
            .user-sponsor{
              margin-right 30px
            }
            .certificated{
              color #40da5e
            }
          }
        }
      }
      .button-area{
        float right
      }
    }
    .release-time{
      float right
    }
  }
}
