.detail-content{
  border 1px solid #e3e3e3
  dl{
    text-align center
  }
  .judge-area{
    list-style none
    .el-rate{
      margin-top 10px
    }
    .input-area{
      padding-top 20px
      margin-right 20px
      .el-textarea{
        margin 10px 20px 20px 0
      }
    }
  }
}
