.create-wrapper{
  .create-content{
    width 1280px
    padding-top 20px
    margin 0 auto
    .time-area{
      .el-form-item{
        float left
      }
      .separate-line{
        margin 0 10px
      }
    }
  }
}
